.about-us{

  &__title{
    color: #635C73;
    font-size: 26px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    padding: 27px 20px;
  }
  &__text{
    color: #323232;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 16px;
  }
  &__btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 120px;
    &--link-btn{
      display: flex;
      justify-content: space-between;
      border: 1px solid #323232;
      border-radius: 4px;
      margin: 13px 10px;
      width: 105px;
      font-size: 12px;
      font-weight: bold;
      background-color: rgb(247,247,247);
      overflow: hidden;

      &--svg{
        padding: 3px;
      }
      &__btn-name{
        padding-top: 5px;
        padding-right: 3px;
      }
      &__btn-quantity{
        padding: 5px;
        background-color: white;
        border-left: 1px solid #323232;
      }
    }
  }
  &__title2{
    color: #8D81AC;
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 36px;

    &:before{
      content: '<';
      color: #8D81AC;
    }
    &:after{
      content: '>';
      color: #8D81AC;
    }
  }
  &__wrap{

  }
  &__info-block{
    padding: 0 10px;
    box-sizing: border-box;
    &--item{
      padding-bottom: 20px;
      &__img{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-bottom: 25px;
        width: 111px;
      }
      &__info{
        margin: 0 auto;
        text-align: center;
        &--title{
          padding-bottom: 14px;
          font-size: 16px;
          line-height: 16px;
          color: #323232;
        }
        &--text{
          font-size: 14px;
          line-height: 21px;
          color: #848E97;
        }
      }
    }
  }
  &__info-img{
    padding-top: 40px;
    overflow: hidden;
    &--big-img{
      width: 162%;
    }
  }
}
