@import "../variables";

.home {
  &__wrapper {
    background-image: url("/dist/img/Backgrounds/HomeBG.jpg");
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    background-position-x: center;
    background-position-y: center;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-header-background;
    position: relative;

    &-logo {
      display: flex;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 15px;

      &-img {
        display: block;
        background: url("/dist/img/Logo_header.svg");
        width: 43px;
        height: 41px;
      }
    }

    &-logo-text {
      display: none;
      color: $color-purple;
      font-family: Lato;
      padding-left: 15px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 16px;
    }

    &-btn {
      width: 119px;
      height: 37px;
      border-radius: 40px;
      background-color: $color-purple;
      border: 0;
      color: $color-white;
      font-weight: bold;
      font-size: 15px;
      line-height: 15px;
      font-family: Montserrat;
    }

    &-nav-burger {
      display: inline-flex;
      flex-direction: column;
      width: 26px;
      padding-right: 15px;

      &--active {
        & .home__header-nav-burger-line {
          &:nth-child(1) {
            transform: translateX(1000px);
          }

          &:nth-child(2) {
            transform: translate(0px, 1px) rotate(45deg);
          }

          &:nth-child(3) {
            transform: translate(0px, -8px) rotate(-45deg);
          }
        }

      }

      &-line {
        width: 100%;
        background-color: $color-white;
        height: 3px;
        border-radius: 5px;
        transition: 0.3s transform;

        &:first-child {
          transform: translateX(100%);
          width: 13px;
        }

        &:not(:last-child) {
          margin-bottom: 6px;
        }
      }
    }
  }

}

