@import "../variables";

.home {

  &__main {
    font-family: Montserrat;

    &-heading {
      font-size: 48px;
      font-weight: bold;
      line-height: 48px;
      color: $color-white;
      padding-top: 50px;

      &-container {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    &-text {
      font-size: 18px;
      line-height: 24px;
      color: $color-purple;
      padding-top: 20px;
    }

    &-version-text {
      font-size: 14px;
      line-height: 14px;
      text-transform: uppercase;
      color: $color-light-grey;
      padding-top: 15px;
      padding-bottom: 415px;
    }
  }
}