@import "../variables";

.home {
  &__footer {
    background-color: $color-white;

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateY(-23px)
    }

    &-btn {
      width: 290px;
      height: 45px;
      border-radius: 40px;
      background-color: $color-purple;
      border: 0;
      color: $color-white;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      font-family: Montserrat;
    }

    &-text {
      font-family: Montserrat;
      font-size: 14px;
      line-height: 14px;
      color: $color-light-grey;
      padding-top: 13px;
    }
  }
}