.price-section {
  background-image: url("/dist/img/Layer 2 1.png");

  &__title {
    font-size: 28px;
    line-height: 42px;
    color: white;
    text-align: center;
    padding-bottom: 32px;
    padding-top: 14px;
  }

  &__price-block {

    &__item {
      background-color: rgba(255,255,255,0.1);
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      text-align: center;
      margin: 15px auto;
      width: 240px;

      &--title {
        font-size: 24px;
        padding: 36px 0;
        text-transform: uppercase;
        background-color: rgba(255,255,255,0.1);
        color: white;
      }

      &--price {
        font-size: 60px;
        padding-top: 30px;
        color: white;
      }

      &--time {
        font-size: 14px;
        padding-top: 20px;
        text-transform: uppercase;
        padding-bottom: 37px;
        color: white;
      }

      &--option {
        font-size: 16px;
        color: white;
        padding-bottom: 10px;
        position: relative;
        padding-top: 73px;
        display: flex;
        flex-direction: column;
        &:before{
          content: "";
          display: block;
          width: 60px;
          height: 5px;
          background-color: #8D81AC;
          position: absolute;
          top:20px;
          left: 39%;
        }
        &-elem{
          padding-bottom: 10px;
          &--other{
            padding-bottom: 36px;
          }
        }
      }

      &--btn {
        font-size: 15px;
        text-transform: uppercase;
        padding: 15px 0;
        border-radius: 45px;
        width: 160px;
        background: #776B79;
        color: white;
        margin: 37px auto;
      }
    }

    &__item-different {
      background-color: rgba(70,48,72,0.7);
      width: 270px;
      margin: 15px auto;
      &--title {
        background-color: rgba(0,0,0,0.1);
        padding: 43px 0;
        font-size: 24px;
        text-transform: uppercase;
        color: white;
      }
      &--btn{
        font-size: 15px;
        text-transform: uppercase;
        padding: 15px 0;
        border-radius: 45px;
        width: 160px;
        background: #776B79;
        color: white;
        margin: 46px auto;
      }
    }
  }
}
