@import "../variables";

.testimonials {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 45px;

      &--text {
        text-align: center;
        font-family: Lato;
        font-style: italic;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: $color-white;
        padding-top: 25px;
      }
    }


  }
}