@import "../variables";

.testimonials {

  &__footer {
    padding-top: 65px;

    &-text {
      font-family: Lato;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: $color-light-pink;

    }
  }
}