@import "../variables";

.testimonials {
  &__container{
    padding-left: 20px;
    padding-right: 20px;
    &::after{
      margin-top: 20px;
      margin-bottom: 12px;
      display: block;
      text-align: center;
      border: 2px solid $color-pinky-brown;
      background-color: $color-pinky-brown;
      content: '';
      min-width: 245px;
    }
  }
  &__wrapper {
    background-image: url("/dist/img/Backgrounds/Testimonials BG.jpg");
    background-size: 300% 100%;
    background-position-x: center ;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    padding-top: 57px;

    &-heading {
      font-family: Montserrat;
      font-size: 36px;
      line-height: 48px;
      font-weight: bold;
      text-align: center;
      color: $color-white;
    }
  }
}