@import "src/scss/variables";

@media (min-width: 993px)  {
  .home {
    &__header {
      background-color: $color-black;
      display: flex;
      flex-direction: row;
      justify-content: space-around;


      &-logo {
        &:hover .home__header-logo-img {
          background: url("/dist/img/Logo_header_hover.svg");
        }

        &:hover .home__header-logo-text {
          color: $color-white;
        }

        &-text {
          display: block;
        }
      }

      &-btn {
        width: 145px;
        font-size: 16px;
        line-height: 17px;
        order: 3;

        &:hover {
          background-color: $color-white;
          color: $color-purple;
          cursor: pointer;
          border: 1px solid $color-purple;
        }
      }

      &-nav-burger {
        display: none;
      }

      &-nav-menu {
        order: 1;
        padding-left: 200px;

        &-list {
          display: flex;
          align-items: center;
          justify-content: space-around;
        }

        &-item {
          padding: 0 24px;
        }

        &-item > a {
          text-decoration: none;
          font-size: 16px;
          line-height: 18px;
          font-weight: bold;
          font-family: Montserrat;
          color: $color-purple;

          &:hover {
            color: $color-white;
          }
        }
      }
    }

    &__main {
      &-heading {
        font-size: 82px;
        line-height: 82px;
      }

      &-text {
        font-size: 30px;
        line-height: 30px;
      }

      &-version-text {
        font-size: 16px;
        line-height: 16px;
      }
    }

    &__footer {
      &-container {
        transform: translateY(-35px);

      }

      &-btn {
        width: 390px;
        height: 62px;

        &:hover {
          background-color: $color-white;
          color: $color-purple;
          cursor: pointer;
          border: 1px solid $color-purple;
        }
      }
    }
  }

  .testimonials {
    &__container {
      padding-left: 100px;
      padding-right: 100px;

      &::after {
        min-width: 780px;
      }
    }

    &__wrapper {
      background-size: 100% 100%;
    }

    &__header {
      padding-top: 108px;

      &-heading {
        font-size: 48px;
        line-height: 50px;
      }
    }

    &__content {
      padding-top: 80px;
      padding-bottom: 120px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 50px;
      grid-row-gap: 100px;

    }
  }
}

