@import "src/scss/variables";

@media (min-width: 320px) and (max-width: 480px) {
  .home {
    &__header {
      &-logo-text {
        display: none;
      }

      &-nav-menu {
        display: none;
        position: absolute;
        left: 15px;
        right: 15px;

        &--active {
          display: block;
          top: 101px;
        }

        &-list {
          list-style: none;
        }

        &-item {
          display: flex;
          align-items: center;
          padding-left: 35px;
          width: 100%;
          height: 88px;
          background-color: $color-header-drop-down-background;
          border: 1px solid $color-light-grey;
          box-sizing: border-box;
        }

        &-item > a {
          text-decoration: none;
          color: $color-white;
          font-family: Montserrat;
          font-size: 26px;
          line-height: 26px;
        }

      }

    }
  }

  .testimonials {
    &__header {
    }
  }
}

