@import "src/scss/variables";

@media (min-width: 481px) and (max-width: 992px) {
  .home {
    &__header {
      display: flex;
      flex-wrap: wrap;

      &-logo {
        padding-left: 20px;
        padding-bottom: 0px;
        padding-top: 20px;

        &-text {
          display: block;
        }
      }

      &-btn {
        width: 145px;
        font-size: 16px;
        line-height: 16px;
        margin-right: 20px;
        margin-top: 20px;
      }

      &-nav-burger {
        display: none;
      }

      &-nav-menu {
        width: 100%;

        &-list {
          display: flex;
          align-items: flex-end;
          justify-content: space-around;
          padding: 15px 125px;
        }

        &-item > a {
          text-decoration: none;
          font-size: 16px;
          line-height: 18px;
          font-weight: bold;
          font-family: Montserrat;
          color: $color-purple;
        }
      }

    }

    &__main {
      &-container {
        padding-left: 84px;
        padding-right: 84px;
      }

      &-heading {
        font-size: 72px;
        line-height: 72px;
      }

      &-text {
        font-size: 24px;
      }

    }

    &__footer {
      &-container {
        transform: translateY(-32px);
      }

      &-btn {
        width: 390px;
        height: 62px;
      }

      &-text {
        line-height: 16px;
        padding-top: 19px;
      }
    }
  }

  .testimonials {
    &__container {
      &::after {
        min-width: 555px;
      }
    }

    &__wrapper {
      background-size: 100% 100%;
    }

    &__header {
      padding-top: 87px;

      &-heading {
        font-size: 42px;
        line-height: 44px;
      }
    }

    &__content {
      padding-top: 70px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 35px;
      grid-row-gap: 60px;
    }
  }

}
