@media (min-width: 320px) and (max-width: 480px) {
  .container{
    max-width: 320px;
    margin: 0 auto;
  }
  .price-section__price-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .about-us__btn{
    padding-bottom: 160px;
  }
  .about-us__title2{
    padding-bottom: 50px;
  }
  .about-us__info-block--item{
    display: flex;
    justify-content: space-between;
  }
  .about-us__info-block--item__info{
    text-align: start;
    width: calc(100% - 111px - 5%);
  }
  .about-us__info-img--big-img{
    width: 100%;
  }
  .price-section__price-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 520px;
    margin: 0 auto;
  }
  .price-section__title{
    padding-top: 88px;
  }
}

@media (min-width:993px) and (max-width:1200px) {
  .about-us__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    height: 680px;
    background-color: #F4F4F4;
  }
  .about-us__btn{
    padding-bottom: 70px;
  }
  .about-us__title2{
    width: 50%;
    order: 2;
    text-align: start;
    padding-bottom: 0;
  }
  .about-us__info-block{
    width: 50%;
  }
  .about-us__info-block--item{
    display: flex;
    order: -1;
  }
  .about-us__info-block--item__info{
    text-align: start;
    width: calc(100% - 111px - 5%);
  }
  .about-us__info-img{
    width: 50%;
  }
  .about-us__info-img--big-img{
    width: 100%;
  }
  .price-section__price-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .price-section__title{
    padding-top: 112px;
  }
}

@media (min-width: 1201px){
  .about-us__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    height: 790px;
    background-color: #F4F4F4;
  }
  .about-us__btn{
    padding-bottom: 70px;
  }
  .about-us__title2{
    width: 50%;
    order: 2;
    text-align: start;
    padding-bottom: 0;
  }
  .about-us__info-block{
    width: 50%;
  }
  .about-us__info-block--item{
    display: flex;
    order: -1;
  }
  .about-us__info-block--item__info{
    text-align: start;
    width: calc(100% - 111px - 5%);
  }
  .about-us__info-img{
    width: 50%;
  }
  .about-us__info-img--big-img{
    width: 100%;
  }
  .price-section__price-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .price-section__title{
    padding-top: 112px;
  }
}
