$color-purple: #8D81AC;
$color-white: #FFFFFF;
$color-light-grey: #848E97;
$color-header-background: #27262A;
$color-header-drop-down-background: #333333;
$color-black: #000000;
$color-light-pink: #A291A5;
$color-pinky-brown: #645766;